#!MC 1120
##############################################################################
#                                                                            #
# Some of the more common customized commands for Tecplot 360's startup and  #
# defaults are presented below.                                              #
#                                                                            #
# Note: Major commands begin with $! and may have sub-options.  Uncomment    #
# both.                                                                      #
#                                                                            #
# These options are documented in the Tecplot 360 Scripting Guide, located   #
# in TECHOME/doc/360_scripting_guide.pdf                                     #
#                                                                            #
##############################################################################


################################  WINDOWS VISTA USERS ########################
#                                                                            #
# Windows Vista's video drivers have had a lot of problems.  If you're       #
# observing display issues (e.g., screens do not refresh), please ensure     #
# you have an updated video card driver.                                     #
#                                                                            #
# If you still have problems, support may instruct you to disable Tecplot's  #
# use of hardware acceleration by uncommenting the line below.  Doing so     #
# will reduce display performance.                                           #
#                                                                            #
##############################################################################
# $!INTERFACE OPENGLCONFIG { ALLOWHWACCELERATION = NO }


##############################################################################
#                                                                            #
# To set up the initial desktop like Tecplot Focus, please uncomment         #
# the next three blocks:                                                     #
#                                                                            #
##############################################################################

       ################################
       # Paper, frame header on:      #
       ################################
# $!Paper ShowPaper = Yes
# $!Paper ShowRuler = Yes
# $!Paper ShowGrid  = Yes
# $!FrameLayout ShowHeader = Yes

       ####################################################################
       # Don't fit initial frame to workspace, keep default view of paper #
       ####################################################################
# $!FrameSetup FitInitialFrameToWorkspace = No

       ############################################################
       # Turn on axes by default and set initial view so axes fit #
       ############################################################
# $!ThreeDAxis XDetail {ShowAxis = Yes}
# $!ThreeDAxis YDetail {ShowAxis = Yes}
# $!ThreeDAxis ZDetail {ShowAxis = Yes}
# $!FrameSetup Initial3DFitToSurfaces = No
# $!FrameSetup Initial3DScale = 1.0


################################################################################
#                                                                              #
# To revert Tecplot 360 2006 & 2008 frame popping behavior, uncomment          #
# the following lines:                                                         #
#                                                                              #
################################################################################
#
# $!Interface AlwaysPopActiveFrame = TRUE
# $!GlobalFrame UseThickerActiveFrameBorderOnScreen = FALSE
#
#


################################################################################
#                                                                              #
# To set up default plot style settings like Tecplot 360 2006 & 2008 Release 1 #
# uncomment the following block of macros:                                     #
#                                                                              #
################################################################################
#
# $!FrameSetup AssignSequencedZoneColors = TRUE
# $!FrameSetup ShowAppendedZones = FALSE
# $!FrameSetup ShowNonWallBoundaryZones = TRUE
# $!FrameSetup Initial3DFitToSurfaces = No
# $!FrameSetup Initial3DScale = 0.7
# $!ThreeDView ThetaAngle = 225
# $!GlobalThreeD LightSource {BackgroundLight = 30}
# $!GlobalThreeD LightSource {IncludeSpecular = FALSE}
# $!GlobalThreeD LightSource {SpecularIntensity = 50}
# $!GlobalThreeD LightSource {SpecularShininess = 50}
# $!GlobalThreeD LightSource {XYZDirection {X = 0}}
# $!GlobalThreeD LightSource {XYZDirection {Y = 0}}
# $!GlobalThreeD LightSource {XYZDirection {Z = 1}}
# $!FieldLayers ShowMesh = TRUE
# $!FieldLayers ShowShade = FALSE
# $!FieldLayers UseTranslucency = FALSE
# $!FieldMap Effects {LightingEffect = Paneled}
# $!FieldMap EdgeLayer {EdgeType = Borders}
# $!FieldMap EdgeLayer {LineThickness = 0.4}
# $!FieldMap Surfaces {SurfacesToPlot = ExposedCellFaces}
# $!SliceAttributes 1 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 1 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 1 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 2 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 2 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 2 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 3 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 3 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 3 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 4 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 4 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 4 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 5 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 5 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 5 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 6 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 6 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 6 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 7 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 7 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 7 SurfaceEffects {LightingEffect = Paneled}
# $!SliceAttributes 8 SurfaceEffects {SurfaceTranslucency = 50}
# $!SliceAttributes 8 SurfaceEffects {UseTranslucency = FALSE}
# $!SliceAttributes 8 SurfaceEffects {LightingEffect = Paneled}


##############################################################################
#                                                                            #
# This is an example of changing the default dialog placement                #
#                                                                            #
##############################################################################
# $!INTERFACE DialogPlacement {
#    MacroRecordDialog {
#      ANCHORALIGNMENT = BOTTOMRIGHT
#      ANCHORHORIZONTALINSIDE = TRUE
#      ANCHORVERTICALINSIDE   = TRUE
#    }
# }


##############################################################################
#                                                                            #
# These options change the polar plot axis limits.                           #
#                                                                            #
##############################################################################
#
# Polar plots default to degrees, labeled -180 to 180
#
# $!PolarAxis ThetaDetail { RangeMin = (-180) RangeMax = (180) }

#
# Polar plots default to radians, labeled -pi to pi
#
# $!PolarAxis ThetaMode = Radians
# $!PolarAxis ThetaDetail { RangeMin = (-pi) RangeMax = (pi) }

#
# Polar plots default to radians, labeled 0 to 2pi
#
# $!PolarAxis ThetaMode = Radians
# $!PolarAxis ThetaDetail { RangeMin = (0) RangeMax = (2*pi) }

#
# Polar plots default to an arbitrary range of 0 to 10
#
# $!PolarAxis ThetaMode   = Arbitrary
# $!PolarAxis ThetaPeriod = (10)
# $!PolarAxis ThetaDetail { RangeMin = (0) RangeMax = (10) }



##############################################################################
#                                                                            #
# By default, the sphere scatter symbols are rendered at the highest quality,#
# with a lot of facets.  On plots with millions of scatter symbols, this is  #
# unnecessary (because the spheres are small - you won't notice) and causes  #
# a performance impact.  This setting uses the lowest quality rendering for  #
# speed.  You may also specify "MEDIUM"                                      #
#                                                                            #
##############################################################################

# $!GLOBALSCATTER SPHERESCATTERRENDERQUALITY = LOW


##############################################################################
#                                                                            #
# Under some conditions, using very large screen fonts (> 4% of the frame)   #
# may result in them disappearing.  [This does not happen when printing.]    #
# Increase the point size at which triangulated (as opposed to rasterized)   #
# TrueType glyphs are used.                                                  #
#                                                                            #
##############################################################################

# $!INTERFACE TRUETYPEMINOUTLINEPOINTSIZE = 72


####################### UNIX PRINT SPOOLER SETUP #############################
#                                                                            #
# Uncomment and edit the following command to set up the print spooler on    #
# your *nix system.  Use the @ symbol as a placeholder for the print         #
# filename.                                                                  #
#                                                                            #
##############################################################################
# $!PRINTSETUP SENDPRINTTOFILE = NO
#   SPOOLER { 
#       PSMONOSPOOLCMD = "lp600 @ ; rm @"
#       PSCOLORSPOOLCMD = "lptek @ ; rm @"
#     }
#   JOBCONTROL
#     {
#       HPGL2SETUPSTR = "$E%-1B"
#       HPGL2MOPUPSTR = "$E%0A^012"
#     }


####################### LINUX OPENGL OPTIMIZATION ############################
#                                                                            #
# Below are a few of the common settings that can be adjusted to remedy most #
# graphics card rendering problems on Linux, UNIX and Mac. Whenever possible #
# please first try updating the drivers for your graphics card.              #
#                                                                            #
##############################################################################
# $!INTERFACE
#   OPENGLCONFIG
#     {
#       #
#       # Tecplot has a number of other OpenGL configurations that solve
#       # specific graphics card related problems for both on-screen and
#       # off-screen rendering.
#       #
#       # If you notice the last pixel of stroked font characters not
#       # rendering use the following setting for DOEXTRADRAWFORLASTPIXEL.
#       # If thin patterned lines are not rendering correctly use the
#       # setting below for STIPPLEALLLINES. For low memory graphics
#       # cards you may need to reduce the depth buffer size by reducing
#       # the DEPTHBUFFERSIZE. Finally, some graphics cards have trouble
#       # with long triangle and quad strips. If you are having problems
#       # with strips (the default Tecplot configuation) try reducing the
#       # strip length as directed below.
#       #
#       # If some shaded or contour flooded quads or triangles do not
#       # appear or are black turn off quad strips, turn on triangulation
#       # of filled polygons, and leave triangle strips on. This forces
#       # Tecplot to convert all quad strip candidates to triangle strips,
#       # single quads to be triangulated, and has only a minor impact on
#       # display performance. If the problem still exists turn off triangle
#       # strips as well. Please note that this combination of settings will
#       # hamper display performance since strips will no longer be used
#       # however it may correct buggy graphics card drivers.
#       #
#       # Other graphics card problems such as random crashing can be solved
#       # by lowering the maximum strip length, MAXSTRIPLENGTH. Tecplot
#       # attempts to maximize strip lengths given to the graphics card.
#       # Try maximum sizes of 10 or 20.
#       #
#       # Some graphics cards have problems with an OpenGL's glColorMaterial
#       # function. Higher performance (especially for continuous contour
#       # flooded plots) can be achieved when it is used however it,
#       # USEGLCOLORMATERIALFUNCTION, may need to be turned off if you are
#       # experiencing problems.
#
#       SCREENRENDERING
#         {
#           DOEXTRADRAWFORLASTPIXEL    = YES
#           STIPPLEALLLINES            = ALL
#           DEPTHBUFFERSIZE            = 7
#           MAXSTRIPLENGTH             = 10
#           MAXPRIMATIVESPERBLOCK      = 100
#           USETRIANGLESTRIPS          = NO
#           USEQUADSTRIPS              = NO
#           TRIANGULATEFILLEDPOLYGONS  = YES
#           USEGLCOLORMATERIALFUNCTION = NO
#         }
#       IMAGERENDERING
#         {
#           DOEXTRADRAWFORLASTPIXEL    = YES
#           STIPPLEALLLINES            = ALL
#           DEPTHBUFFERSIZE            = 7
#           MAXSTRIPLENGTH             = 10
#           MAXPRIMATIVESPERBLOCK      = 100
#           USETRIANGLESTRIPS          = NO
#           USEQUADSTRIPS              = NO
#           TRIANGULATEFILLEDPOLYGONS  = YES
#           USEGLCOLORMATERIALFUNCTION = NO
#         }
#     }
#
###############################################################################


##############################################################################
#                                                                            #
# This is an example of remapping the middle and right mouse buttons         #
# to use perform different functions.                                        #
#                                                                            #
##############################################################################
# 
# Middle mouse button
#
# $!Interface MouseActions{MiddleButton{SimpleDrag            = RollerBallRotate}
# $!Interface MouseActions{MiddleButton{ControlledDrag        = ZoomData}}
# $!Interface MouseActions{MiddleButton{AltedDrag             = TranslateData}}
# $!Interface MouseActions{MiddleButton{ShiftedDrag           = ZoomData}}
# $!Interface MouseActions{MiddleButton{ControlAltedDrag      = ZoomData}}
# $!Interface MouseActions{MiddleButton{ControlShiftedDrag    = ZoomData}}
# $!Interface MouseActions{MiddleButton{AltShiftedDrag        = ZoomData}}
# $!Interface MouseActions{MiddleButton{ControlAltShiftedDrag = ZoomData}}
# $!Interface MouseActions{MiddleButton{ButtonClick           = Redraw}}

# 
# Right mouse button
#
# $!Interface MouseActions{RightButton{SimpleDrag             = NoOp}}
# $!Interface MouseActions{RightButton{ControlledDrag         = RollerBallRotate}}
# $!Interface MouseActions{RightButton{ShiftedDrag            = ZoomData}}
# $!Interface MouseActions{RightButton{ControlAltedDrag       = RollerBallRotate}}
# $!Interface MouseActions{RightButton{ControlShiftedDrag     = RollerBallRotate}}
# $!Interface MouseActions{RightButton{AltShiftedDrag         = TranslateData}}
# $!Interface MouseActions{RightButton{ControlAltShiftedDrag  = RollerBallRotate}}
# $!Interface MouseActions{RightButton{ButtonClick            = NoOp}}

###############################################################################
#                                                                             #
# By default small fonts are rendered using bitmaps but can look rather       #
# pixelated. The following option instructs Tecplot to render fonts using     #
# polygons instead of bitmaps such that visuals with multi-sampling enabled   #
# render polygon fonts smoothly. For *nix the default is to choose a multi-   #
# sampling visual while on Windows this choice is controlled outside of       #
# through the graphics driver's control panel.                                #
#                                                                             #
###############################################################################
# 
# $!Interface TrueTypeMinOutlinePointSize = 1
